<app-page-breadcrumb
  [pageTitle]="'bankTransactionsList'|translate"
  [backUrl]="''"
></app-page-breadcrumb>

<div class="container-fluid">
    <div class="table-responsive mt_20px">
        <table class="table_fn no_wrap hover">
            <thead>
                <tr>
                    <th>{{'paidAmount'|translate}}</th>
                    <th>{{'orderDate'|translate}}</th>
                    <th>{{'serviceType'|translate}}</th>
                    <th>{{'serviceStartDate'|translate}}</th>
                    <th>{{'serviceEndDate'|translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of TransactionsList">

                    <td attr.data-label="{{'paidAmount'|translate}}">
                        {{item.amount|number}} <small>{{'rial'|translate}}</small>
                    </td>
                    <td attr.data-label="{{'orderDate'|translate}}">
                        {{item.orderDateTime}}
                    </td>
                    <td attr.data-label="{{'serviceType'|translate}}">
                        {{'standardPackage'|translate}} "{{item.fieldName}}"
                    </td>
                    <td attr.data-label="{{'serviceStartDate'|translate}}">
                        {{item.packageStartDate}}
                    </td>
                    <td attr.data-label="{{'serviceEndDate'|translate}}">
                        {{item.packageEndDate}}
                    </td>
                </tr>
                <tr *ngIf="TransactionsList.length==0">
                    <td colspan="5" class="text-center">{{'notFound'|translate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>