<app-page-breadcrumb 
    [backUrl]="'/fields'"
    [pageTitle]="'پایش زمین کشاورزی '"></app-page-breadcrumb>

<div class="container-fluid" id="imagery_wrapper">
    <div class="row pb-3">
        <div class="col-12 col-md-4 col-xl-3 ps-md-0" *ngIf="showFieldDetails">
            <div class="field_details_wrapper h-100">
                <div class="field_detail">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <h4 class="bd_1_text bd_1_text_mobile Primary_100_text">
                                زمین بابونه تبریز
                            </h4>
                            <span class="d-block caption_text caption_text_mobile">
                                بابونه
                                <span dir="ltr">(1401-04-25)</span>
                            </span>
                            <span class="d-block caption_text caption_text_mobile">2.56 هکتار</span>
                        </div>
                        <app-field-svg class="field_svg" [cordinates]="cords"></app-field-svg>
                    </div>
                </div>
                <div class="current_weather">
                    <h4 class="bd_1_text bd_1_text_mobile Primary_100_text">آب و هوای فعلی</h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="text-center d-flex align-items-center">
                            <img src="./assets/images/icons/weather/01n.svg" width="35" alt="">
                            <div>
                                <div class="bu_3_text bu_3_text_mobile">درجه دما</div>
                                <strong dir="ltr" class="caption_text caption_text_mobile">30 °C</strong>
                            </div>
                        </div>
                        <div class="text-center d-flex align-items-center" >
                            <i class="wind_direction" style="transform: rotate(80deg);"></i>
                            <div>
                                <div class="bu_3_text bu_3_text_mobile">جهت باد</div>
                                <strong dir="ltr" class="caption_text caption_text_mobile">3.09 m/s </strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="new_analytics">
                    <h4 class="bd_1_text bd_1_text_mobile White_text">تحلیل کارشناس سنجش از دور</h4>
                    <div class="unread_analytics pe-2">
                        <button class="White_text border-0 bg-transparent caption_text d-block mt-2 mb-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                                <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                                <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
                            </svg>
                            1401-04-25 - مشاهده کنید
                        </button>
                        <button class="White_text border-0 bg-transparent caption_text d-block mt-2 mb-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                                <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                                <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
                            </svg>
                            1401-04-29 - مشاهده کنید
                        </button>
                    </div>
                </div>
                <div class="ahead_tasks mt-auto">
                    <h4 class="bd_1_text bd_1_text_mobile Dark_80_text">فعالیت های پیش رو</h4>
                    <div class="tasks pe-2 mb-3">
                        <button class="Dark_70_text border-0 bg-transparent caption_text d-block mt-2 mb-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                            </svg>
                            1401-04-25 - مشاهده کنید
                        </button>
                        <button class="Dark_70_text border-0 bg-transparent caption_text d-block mt-2 mb-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                            </svg>
                            1401-04-29 - مشاهده کنید
                        </button>
                    </div>
                    <a [routerLink]="['/imagery/tasks']" class="primary_btn medium_btn w-100">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                        ثبت فعالیت جدید
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md ps-md-0 position-relative">
            <button id="collapseBtn" (click)="showFieldDetails = !showFieldDetails">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16" *ngIf="showFieldDetails">
                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                </svg>
                <span *ngIf="!showFieldDetails">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                    </svg>
                    <span  class="me-1 bu_3_text bu_3_text_mobile">زمین بابونه تبریز</span>
                </span>
            </button>
            <div class="imagery_content_wrapper h-100">
                <div id="map" dir="ltr"></div>
            </div>
        </div>
        <div class="col-12 col-xl-2">
            <div class="indicators_wrapper h-100">
                <div class="dates_wrapper">
                    <div class="col-12 mb-2">
                        <label for="fromDate" class="bu_3_text bu_3_text_mobile Dark_70_text mb-1">از تاریخ</label>
                        <div class="input-group" dir="ltr">
                            <input class="form-control border-secondary bu_3_text bu_3_text_mobile" placeholder="پایش از تاریخ" [firstDayOfWeek]="6" [ngModelOptions]="{standalone: true}"
                                   name="dp" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="fromDate">
                            <button class="btn btn-outline-secondary bg-light" (click)="d.toggle()" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#383440" class="bi bi-calendar-plus" viewBox="0 0 16 16">
                                    <path d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="toDate" class="bu_3_text bu_3_text_mobile Dark_70_text mb-1">تا تاریخ</label>
                        <div class="input-group" dir="ltr">
                            <input class="form-control border-secondary bu_3_text bu_3_text_mobile" placeholder="پایش تا تاریخ" [firstDayOfWeek]="6" [ngModelOptions]="{standalone: true}"
                                   name="dp" ngbDatepicker #d1="ngbDatepicker" [(ngModel)]="toDate">
                            <button class="btn btn-outline-secondary bg-light calendar" (click)="d1.toggle()" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#383440" class="bi bi-calendar-plus" viewBox="0 0 16 16">
                                    <path d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                  </svg>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="categories_wrapper">
                    <h4 class="bd_2_text bd_2_text_mobile text-center Dark_80_text mt-1 mb-3">دسته بندی شاخص ها</h4>
                    <div class="item" (click)="SelectedCategory = 1" [ngClass]="{'active':SelectedCategory==1}">
                        <img src="./assets/images/icons/plant.png" width="45" alt="">
                        <span>بررسی گیاه</span>

                        <div class="indicators_list">
                            <div class="input_wrapper mb-2">
                                <input type="radio" name="plant_indicators" id="ndvi" (click)="getIndicators('ndvi')">
                                <label for="ndvi" class="me-2 bd_2_text bd_2_text_mobile">شاخص NDVI</label>
                            </div>
                            <div class="input_wrapper mb-2">
                                <input type="radio" name="plant_indicators" id="ndre">
                                <label for="ndre" class="me-2 bd_2_text bd_2_text_mobile">شاخص NDRE</label>
                            </div>
                        </div>
                    </div>
                    <div class="item" (click)="SelectedCategory = 2" [ngClass]="{'active':SelectedCategory==2}">
                        <img src="./assets/images/icons/soil.png" width="45" alt="">
                        <span>بررسی خاک</span>
                    </div>
                    <div class="item" (click)="SelectedCategory = 3" [ngClass]="{'active':SelectedCategory==3}">
                        <img src="./assets/images/icons/water.png" width="45" alt="">
                        <span>بررسی آب</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<span id="tooltip_value"></span>