<app-page-breadcrumb
    [backUrl]="'/fields'"
    [pageTitle]="'پایش زمین کشاورزی '"></app-page-breadcrumb>

<div class="container-fluid" id="imagery_wrapper">
    <div class="row g-3 pb-2 overflow-hidden">
        <div class="col-12 col-md-12 col-xl-3 " [ngStyle]="{'max-height':colsHeight}" *ngIf="showFieldDetails || windowWidth<1200">
            <div class="field_details_wrapper h-100 overflow-auto row w-100 mx-auto">
                <div class="col-12 col-md-6 col-xl-12 px-0">
                    <div class="field_detail" *ngIf="fieldDetail">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <h4 class="bd_1_text bd_1_text_mobile Primary_100_text">
                                    {{fieldDetail.name}}
                                </h4>
                                <span class="d-block caption_text caption_text_mobile">
                                    {{fieldDetail.productName}}
                                    <span dir="ltr">({{fieldDetail.cultivationDate}})</span>
                                </span>
                                <span class="d-block caption_text caption_text_mobile">{{fieldDetail.area}} هکتار</span>
                            </div>
                            <app-field-svg class="field_svg" [cordinates]="fieldDetail.polygon"></app-field-svg>
                        </div>
                    </div>
                    <div class="current_weather">
                        <h4 class="bd_1_text bd_1_text_mobile Primary_100_text">آب و هوای فعلی</h4>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="text-center d-flex align-items-center">
                                <img *ngIf="CurrentWeather" [src]="'./assets/images/icons/weather/'+CurrentWeather?.weather[0].icon+'.svg'" width="35" alt="">
                                <div>
                                    <div class="bu_3_text bu_3_text_mobile">درجه دما</div>
                                    <strong dir="ltr" class="caption_text caption_text_mobile">{{Math.round(CurrentWeather?.temp)}} °C</strong>
                                </div>
                            </div>
                            <div class="text-center d-flex align-items-center" >
                                <i class="wind_direction" [ngStyle]="{'transform': 'rotate('+(CurrentWeather?.wind_deg || 0)+'deg)'}"></i>
                                <div>
                                    <div class="bu_3_text bu_3_text_mobile">جهت باد</div>
                                    <strong dir="ltr" class="caption_text caption_text_mobile">{{CurrentWeather?.wind_speed || 0}} m/s </strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="new_analytics" *ngIf="AnalyzList?.length>0">
                        <h4 class="bd_1_text bd_1_text_mobile White_text">تحلیل کارشناس کشاورزی</h4>
                        <div class="unread_analytics pe-2">
                            <button class="White_text border-0 bg-transparent caption_text d-block mt-2 mb-1 analyz_item_btn" 
                                *ngFor="let item of AnalyzList" title="{{item.title}}" (click)="ShowAnalyzDetail(item.id)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                                    <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                                    <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
                                </svg>
                                {{item.date.substring(0,10)}} - {{item.title}}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="ahead_tasks mt-xl-auto col-12 col-md-6 col-xl-12" >
                    <ng-container *ngIf="SubmitedTasksList.length>0">
                        <h4 class="bd_1_text bd_1_text_mobile Dark_80_text">فعالیت های پیش رو</h4>
                        <div class="tasks pe-2 mb-3">
                            <button (click)="showTaskDetails(task)"
                                *ngFor="let task of SubmitedTasksList" 
                                class="Dark_70_text border-0 bg-transparent caption_text d-block mt-2 mb-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                                </svg>
                                {{task.dateTime.substring(0,10)}} - {{task.activityGroupName}}
                            </button>
                        </div>
                    </ng-container>
                    <a [routerLink]="['/fields/imagery/tasks',fieldId,fieldDetail?.name]" class="primary_btn medium_btn w-100">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                        ثبت فعالیت جدید
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 col-xl-6 col-xxl-7 position-relative"
            [ngStyle]="{'max-height':colsHeight}"
            [ngClass]="{'col-xl-6 col-xxl-7':(showFieldDetails && windowWidth>=1200) ,
                         'col-xl-9 col-xxl-10':(!showFieldDetails && windowWidth>=1200)}">

            <button id="collapseBtn" (click)="closeFieldDetailsSide()" *ngIf="windowWidth>=1200">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16" *ngIf="showFieldDetails">
                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                </svg>
                <span *ngIf="!showFieldDetails">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                    </svg>
                    <span  class="me-1 bu_3_text bu_3_text_mobile">{{fieldDetail.name}}</span>
                </span>
            </button>
            <div class="imagery_content_wrapper h-100">
                <div id="map" [ngClass]="{'t100':transparency==100 , 't70':transparency==70 , 't0':transparency==0}" dir="ltr"></div>
                <div class="imagery_legend" *ngIf="showLegend">
                    <div class="transparency">
                        <div class="item">
                            <input type="radio" name="transparency" [(ngModel)]="transparency" [value]="100" id="t100">
                            <label for="t100">شفاف</label>
                        </div>
                        <div class="item">
                            <input type="radio" name="transparency" [(ngModel)]="transparency" [value]="70" id="t70">
                            <label for="t70">شیشه‌ای</label>
                        </div>
                        <div class="item">
                            <input type="radio" name="transparency" [(ngModel)]="transparency" [value]="0" id="t0">
                            <label for="t0">مخفی</label>
                        </div>
                    </div>
                    <span>{{indicatorDetails?.legendRange[1]}}</span>
                    <img src="./assets/images/legend.jpg" alt="">
                    <span>{{indicatorDetails?.legendRange[0]}}</span>
                </div>
                <div class="indicators_dates_wrapper" *ngIf="indicatorDetails?.dates">
                    <div class="scrollable">
                        <button class="date" type="button" [ngClass]="{'active':index == indicatorDetails?.imageIndex}"
                            *ngFor="let date of indicatorDetails?.dates;let index = index" (click)="getIndicators(selectedIndicator,index)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-broadcast ms-1" viewBox="0 0 16 16">
                                    <path d="M3.05 3.05a7 7 0 0 0 0 9.9.5.5 0 0 1-.707.707 8 8 0 0 1 0-11.314.5.5 0 0 1 .707.707zm2.122 2.122a4 4 0 0 0 0 5.656.5.5 0 1 1-.708.708 5 5 0 0 1 0-7.072.5.5 0 0 1 .708.708zm5.656-.708a.5.5 0 0 1 .708 0 5 5 0 0 1 0 7.072.5.5 0 1 1-.708-.708 4 4 0 0 0 0-5.656.5.5 0 0 1 0-.708zm2.122-2.12a.5.5 0 0 1 .707 0 8 8 0 0 1 0 11.313.5.5 0 0 1-.707-.707 7 7 0 0 0 0-9.9.5.5 0 0 1 0-.707zM10 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
                                </svg>
                                {{dateTimeService.toJalaliDate(date)}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-xl-3 col-xxl-2" [ngStyle]="{'max-height':colsHeight}">
            <div class="indicators_wrapper h-100 overflow-auto">
                <div class="dates_wrapper">
                    <div class="col-12 mb-2">
                        <label for="fromDate" class="bu_3_text bu_3_text_mobile Dark_70_text mb-1">از تاریخ</label>
                        <div class="input-group" dir="ltr">
                            <input class="form-control border-secondary bu_3_text bu_3_text_mobile" placeholder="پایش از تاریخ" [firstDayOfWeek]="6" [ngModelOptions]="{standalone: true}"
                                   name="dp" ngbDatepicker #d="ngbDatepicker" [maxDate]="toDate" [(ngModel)]="fromDate" > <!--(ngModelChange)="getIndicators(selectedIndicator)"-->
                            <button class="btn btn-outline-secondary bg-light" (click)="d.toggle()" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#383440" class="bi bi-calendar-plus" viewBox="0 0 16 16">
                                    <path d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="toDate" class="bu_3_text bu_3_text_mobile Dark_70_text mb-1">تا تاریخ</label>
                        <div class="input-group" dir="ltr">
                            <input class="form-control border-secondary bu_3_text bu_3_text_mobile" placeholder="پایش تا تاریخ" [firstDayOfWeek]="6" [ngModelOptions]="{standalone: true}"
                                   name="dp" ngbDatepicker #d1="ngbDatepicker" [minDate]="fromDate" [(ngModel)]="toDate" > <!--(ngModelChange)="getIndicators(selectedIndicator)"-->
                            <button class="btn btn-outline-secondary bg-light calendar" (click)="d1.toggle()" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#383440" class="bi bi-calendar-plus" viewBox="0 0 16 16">
                                    <path d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                  </svg>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 mt-3" *ngIf="selectedIndicator">
                        <button class="primary_btn w-100 small_btn" (click)="getIndicators(selectedIndicator)">اعمال فیلتر</button>
                    </div>
                </div>

                <div class="categories_wrapper">
                    <h4 class="bd_2_text bd_2_text_mobile text-center Dark_80_text mt-1 mb-3">دسته بندی شاخص ها</h4>
                    <div class="item" (click)="SelectedCategory = 1" [ngClass]="{'active':SelectedCategory==1}">
                        <img src="./assets/images/icons/plant.png" width="45" alt="">
                        <span>تراکم و سبزینگی گیاه</span>

                        <div class="indicators_list">
                            <div class="input_wrapper mb-2">
                                <input type="radio" name="plant_indicators" id="ndvi" (click)="getIndicators(IndicatorsTypes.ndvi)">
                                <label for="ndvi" class="me-2 bd_2_text bd_2_text_mobile">شاخص NDVI</label>
                            </div>
                            <div class="input_wrapper mb-2">
                                <input type="radio" name="plant_indicators" id="reci" (click)="getIndicators(IndicatorsTypes.reci)">
                                <label for="reci" class="me-2 bd_2_text bd_2_text_mobile">شاخص RECI</label>
                            </div>
                            <div class="input_wrapper mb-2">
                                <input type="radio" name="plant_indicators" id="msavi" (click)="getIndicators(IndicatorsTypes.msavi)">
                                <label for="msavi" class="me-2 bd_2_text bd_2_text_mobile">شاخص MSAVI</label>
                            </div>
                        </div>
                    </div>
                    <div class="item" (click)="SelectedCategory = 2" [ngClass]="{'active':SelectedCategory==2}">
                        <img src="./assets/images/icons/water.png" width="45" alt="">
                        <span>وضعیت آبی گیاه</span>

                        <div class="indicators_list">
                            <div class="input_wrapper mb-2">
                                <input type="radio" name="plant_indicators" id="ndwi" (click)="getIndicators(IndicatorsTypes.ndwi)">
                                <label for="ndwi" class="me-2 bd_2_text bd_2_text_mobile">شاخص NDWI</label>
                            </div>
                            <div class="input_wrapper mb-2">
                                <input type="radio" name="plant_indicators" id="ndmi" (click)="getIndicators(IndicatorsTypes.ndmi)">
                                <label for="ndmi" class="me-2 bd_2_text bd_2_text_mobile">شاخص NDMI</label>
                            </div>
                        </div>
                    </div>
                    <div class="item" (click)="SelectedCategory = 3" [ngClass]="{'active':SelectedCategory==3}">
                        <img src="./assets/images/icons/soil.png" width="45" alt="">
                        <span>وضعیت تغذیه‌ای گیاه</span>

                        <div class="indicators_list">
                            <div class="input_wrapper mb-2">
                                <input type="radio" name="plant_indicators" id="ndre" (click)="getIndicators(IndicatorsTypes.ndre)">
                                <label for="ndre" class="me-2 bd_2_text bd_2_text_mobile">شاخص NDRE</label>
                            </div>
                        </div>
                    </div>
                    <div class="item" (click)="SelectedCategory = 4" [ngClass]="{'active':SelectedCategory==4}">
                        <img src="./assets/images/icons/plests.png" width="45" alt="">
                        <span>آفات و بیماریهای گیاهی</span>

                        <div class="indicators_list">
                            <div class="input_wrapper mb-2">
                                <input type="radio" name="plant_indicators" id="sipi" (click)="getIndicators(IndicatorsTypes.sipi)">
                                <label for="sipi" class="me-2 bd_2_text bd_2_text_mobile">شاخص SIPI</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<span id="tooltip_value"></span>

<ng-template #TaskDetailModal let-modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h6 class="modal-title" id="modal-basic-title">
          جزئیات فعالیت
        </h6>
        <button type="button" class="btn-close me-auto ms-0" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">تاریخ فعالیت</label>
          <div class="form-control">{{TaskDetail?.dateTime?.substring(0,10)}}</div>
        </div>
  
        <div class="mb-3">
          <label class="form-label">نوع فعالیت</label>
          <div class="form-control">{{TaskDetail?.activityGroupName}}</div>
        </div>
  
        <div class="mb-3" *ngIf="TaskDetail?.activityGroupTypeName">
          <label class="form-label">نوع</label>
          <div class="form-control">{{TaskDetail?.activityGroupTypeName}}</div>
        </div>
  
        <div class="row mb-3" *ngIf="TaskDetail?.value">
          <div class="col-6">
            <label class="form-label">مقدار</label>
            <div class="form-control">{{TaskDetail?.value}}</div>
          </div>
          <div class="col-6" *ngIf="TaskDetail?.valueUnit">
            <label class="form-label">واحد اندازه گیری</label>
            <div class="form-control" *ngIf="TaskDetail?.valueUnit==1">لیتر</div>
            <div class="form-control" *ngIf="TaskDetail?.valueUnit==2">کیلوگرم</div>
          </div>
        </div>
  
        <div class="mb-3" *ngIf="TaskDetail?.description">
          <label class="form-label">توضیحات</label>
          <div class="form-control overflow-hidden">{{TaskDetail?.description}}</div>
  
        </div>
    </div>
  </ng-template>




  <ng-template #AnalyzDetailModal let-modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h6 class="modal-title" id="modal-basic-title">
            جزئیات تحلیل کارشناس کشاورزی
        </h6>
        <button type="button" class="btn-close me-auto ms-0" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="container analyz_detail_wrapper">
            <h5 class="heading_level_4 heading_level_4_mobile my-4 text-center">{{AnalyzDetail?.title}}</h5>
            
            <div class="mb-5 sub_analyz" *ngFor="let item of AnalyzDetail?.subAnalysis">
                <h6 class="secondary_text secondary_text_mobile mb-3">{{item.title}}</h6>
                <p class="bu_3_text bu_3_text_mobile mb-3">{{item.description}}</p>
                <figure class="text-center analyz_image">
                    <img [src]="item.image" [alt]="item.remoteSensingTypeTitle">
                    <figcaption dir="rtl" class="d-block caption_text caption_text_mobile mt-2">شاخص {{item.remoteSensingTypeTitle}} - <span dir="ltr">{{item.imageDateTime.substring(0,10)}}</span></figcaption>
                </figure>
            </div>


            <h5 class="bu_3_text bu_3_text_mobile description mb-4">{{AnalyzDetail?.description}}</h5>

            <div class="files_wrapper">
                <h6 class="bu_1_text bu_1_text_mobile">فایل های ضمیمه</h6>
                <a [href]="item.file" target="_blank" *ngFor="let item of AnalyzDetail?.files">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16" *ngIf="item.file.toString().endsWith('pdf')">
                        <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z"/>
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-filetype-wav" viewBox="0 0 16 16" *ngIf="item.file.toString().endsWith('wav')">
                        <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2v-1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.784 15.849l.741-2.789h.033l.74 2.789h.73l1.055-3.999h-.858l-.595 2.903h-.041l-.706-2.903H2.2l-.706 2.903h-.038l-.6-2.903H0l1.055 3.999h.73Zm3.715 0 .314-1.028h1.336l.313 1.028h.841L6.967 11.85h-.926L4.7 15.849h.8Zm1.002-3.234.49 1.617H5.977l.49-1.617H6.5Zm3.604 3.234h-.952L7.814 11.85h.917l.897 3.138h.038l.888-3.138h.879l-1.328 3.999Z"/>
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16" 
                        *ngIf="!item.file.toString().endsWith('pdf') && !item.file.toString().endsWith('wav')">
                        <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/>
                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
  </ng-template>