@import "_vars";

.imagery_content_wrapper{
    #map { 
        height: 100%;
        overflow: hidden;
        border-radius: 8px;
    }
}

.field_details_wrapper {
    background: $RoyalBlue_10;
    border-radius: 8px;
    overflow: hidden;;
    display: flex;
    flex-direction: column;

    .field_detail{
        background-color: $Green_25;
        padding: 12px 8px;

        .field_svg{
            width: 75px;
        }
    }

    .current_weather{
        background-color: $Green_25;
        padding: 12px 8px;
        margin-top: 8px;

        .wind_direction{
            width: 14px;
            height: 14px;
            background-image: url(/assets/images/icons/wind-arrow.png);
            background-position: center;
            background-size: 100%;
            display: inline-block;
            vertical-align: middle;
            margin-left: 8px;
        }
    }

    .new_analytics{
        background-color: $Dark_80;
        padding: 12px 8px;
        margin-top: 8px;
    }

    .ahead_tasks{
        padding: 12px 8px;
        padding-top: 32px;
    }
}

.indicators_wrapper{
    display: flex;
    flex-direction: column;

    .dates_wrapper{
        background-color: $Dark_10;
        padding: 12px 8px;
        border-radius: 8px;
    }

    .categories_wrapper{
        background-color: $Dark_10;
        padding: 12px 8px;
        border-radius: 8px;
        margin-top: 8px;
        flex-grow: 1;

        .item {
            width: 100%;
            border: none;
            padding: 8px 16px;
            border-radius: 8px;
            background: $White;
            opacity: 0.8;
            color: $Dark_80;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            font-weight: 900;
            margin-top: 8px;
            transition:  0.2s all;

            &:hover{
                opacity: 0.9;
            }
        }
    }
}