<div class="py-3 text-center">

    <figure class="my-2">
        <img src="./assets/images/logo.png" width="120" alt="">
    </figure>

    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto mt-4">
        <h4 class="heading_level_4 heading_level_4_mobile Red_100_text">پرداخت ناموفق</h4>
        <h6 class="secondary_text secondary_text_mobile mt-4">{{description}}</h6>
        <h6 class="alert alert-info mt-4">در صورت کسر موجودی از حساب شما ، تا 72 ساعت آینده مبلغ از طرف بانک به حساب شما برگشت داده میشود</h6>
       
    </div>

</div>