<div class="license_wrapper" [ngClass]="{'show':showLicense}">
    <div class="cursor_pointer px-2 mb-2" >
        <span class="close_btn" (click)="showLicense = !showLicense">×</span>
    </div>
    <div class="license_logo_wrapper">
        <img referrerpolicy='origin' *ngIf="isDotCom" width="70" id = 'rgvjjxlzoeukoeukwlaowlao' style = 'cursor:pointer' onclick = 'window.open("https://logo.samandehi.ir/Verify.aspx?id=318844&p=xlaorfthmcsimcsiaodsaods", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30")' alt = 'logo-samandehi' src = 'https://logo.samandehi.ir/logo.aspx?id=318844&p=qftinbpdaqgwaqgwshwlshwl' />
<!--        <a referrerpolicy="origin" *ngIf="isDotIr" target="_blank" href="https://trustseal.enamad.ir/?id=300607&amp;Code=h10Zv2SZ6fl2U5dnUrnH"><img referrerpolicy="origin" src="https://Trustseal.eNamad.ir/logo.aspx?id=300607&amp;Code=h10Zv2SZ6fl2U5dnUrnH" alt="" style="cursor:pointer" id="h10Zv2SZ6fl2U5dnUrnH"></a>-->
<!--        <a referrerpolicy="origin" *ngIf="isDotCom" target="_blank" href="https://trustseal.enamad.ir/?id=301828&amp;Code=SjhbIOvQvsZMIYJs29La"><img referrerpolicy="origin" src="https://Trustseal.eNamad.ir/logo.aspx?id=301828&amp;Code=SjhbIOvQvsZMIYJs29La" alt="" style="cursor:pointer" id="SjhbIOvQvsZMIYJs29La"></a>-->
    </div>
</div>
<div class="license_toggle"  (click)="showLicense = !showLicense" >
    <img src="./assets/images/icons/samandehi-kanat-vpm-artan1100-0106.png" width="22">
<!--    <img src="./assets/images/icons/enamad-kanat-vpm-artan1100-0106.png" width="28">-->
    <span>مجوزها</span>
</div>

