@import "_vars";

.main_page_wrapper{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0; 
    right: 0;
    overflow: hidden;

    .logo_link {
        position: fixed;
        left: 30px;
        top: 40px;
        width: 80px;
        height: 80px;
        background: linear-gradient(90deg, #ffffff97 0%, #fff 50%, #ffffff97 100%);
        border-radius: 50%;
        z-index: 5;
        padding: 5px;
    }

    #landingVideo {
        object-fit: cover;
        object-position: top center;
        width: 100%;
        height: 100%;
    }

    .main_menu {
        position: fixed;
        z-index: 2;
        bottom: 34px;
        opacity: 0;
        background: linear-gradient(0deg, #ffffffdb 0% ,#fff 50%, #ffffffdb 100%);

        border-radius: 8px;
        padding: 0 16px;
        right: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        animation: fadeIn 2s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        transform: translate(50%);
        min-width: 50%;
    


        // .logo_link {
        //     display: inline-block;
        //     width: 75px;
        //     height: 75px;
        //     overflow: hidden;
        //     transform: scale(1.4);
        //     background: #fff;
        //     border-radius: 50%;
        //     padding: 7px;
        //     margin: 0 23px;
        //     transition: 0.3s all;
        //     box-shadow: 0 0 12px 0 #00000069;
        

        //     &:hover{
        //         .logo{
        //             transform: scale(1.05);
        //         }
        //     }

        //     .logo{
        //         width: 100%;
        //         height: 100%;
        //         object-fit: contain;
        //         transform: scale(1);
        //         transition: 0.3s all;
        //     }
        // }

        .link {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            width: 94px;
            font-size: 14px;
            font-weight: 300;
            gap: 3px;
            color: $Primary_100;
            transition: 0.3s all;
            padding: 12px 0;
            border: none;
            background-color: transparent;
            outline: none;

            &.panel_link{
                svg{
                    width: 30px;
                    height: 30px;
                }
                font-weight: 700;
            }

            svg{
                width: 25px;
                height: 25px;
                top: 0;
                position: relative;
                transition: 0.3s all;

            }

            span{
                text-align: center;
            }

            &:hover{
                color: $Primary_80;

                svg{
                    top: -3px;
                }
            }
        }
    }

    .mobile_logo_link{
        display: none;
    }
}

.outline {
    position: fixed;
    top: 50px;
    bottom: 72px;
    left: 70px;
    right: 50px;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-bottom-left-radius: 10px;


    .social_links {
        display: inline-flex;
        left: -16px;
        position: absolute;
        bottom: 0;
        flex-direction: column;
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 80px;

        li{
            margin-top: 16px;
            width: 32px;
            height: 32px;
            border-radius: 5px;
            background-color: #fff;
            padding: 4px;

            svg{

            }
        }

    }
}

@keyframes fadeIn{
    0%{ 
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}


@media only screen and (max-width:767px) {

    .main_page_wrapper{
        background-image: url(/assets/video/mainpage.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;

        .logo_link{
            left: 14px;
            width: 75px;
            height: 75px;

            img{
                width: 65px;
                height: 65px;
            }
        }
    
        #landingVideo{
            display: none;
        }

        .main_menu {
            padding: 10px 0px;
            bottom: 12px;

            .logo_link {
                display: none;
                // background: #ffffffdb;
                // position: absolute;
                // right: 0;
                // top: -80px;
                // transform: scale(1);
                // margin: 0;
                // box-shadow: none;
                // padding: 3px;
            }

            .link {
                margin: 0 6px;
                width: 60px;
                svg{
                    width: 22px;
                    height: 22px;
                }
            }
        }
    }

    .outline{
        left: 50px;
        bottom: 55px;
    }
}

.enamad_wrapper {
    position: fixed;
    right: 30px;
    top: 40px;
    width: 80px;
    height: 80px;

    a{
        width: 100%;
        display: block;

        img{
            width: 100%;
        }
        
    }
}

#changeLanguage{
    z-index: 10;
    position: fixed;
    right: 20px;
    top: 20px;
}