<div class="past_days_weather">
    <div class="row mx-0 pb-4">
        <div class="col-12 py-2">
            <ngb-accordion #acc="ngbAccordion" *ngIf="showCharts"> 
                <ngb-panel>
                  <ng-template ngbPanelTitle>
                    <span class="primary_text primary_text_mobile text-center">میزان بارش در یک ماه اخیر</span>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <div class="py-2">
                        <div echarts [options]="options" [autoResize]="true" class="demo-chart"></div>
                    </div>
                  </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
        <div class="col-12 py-2">
            <ngb-accordion #acc="ngbAccordion" *ngIf="showCharts"> 
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <span class="primary_text primary_text_mobile text-center">تغییرات دما در یک ماه اخیر</span> 
                    </ng-template>
                    <ng-template ngbPanelContent>
                      <div class="py-2">
                        <div echarts [options]="options1" [autoResize]="true" class="demo-chart"></div>
                      </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>

</div>




