<app-page-breadcrumb
  [pageTitle]="'shoppingCenter'|translate"
  [backUrl]="''"
></app-page-breadcrumb>

<div class="container-fluid">
    <div class="row shoping-centers-list g-3">
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="item d-flex flex-column h-100">
                <figure class="item_image">
                    <img src="../../../assets/images/shop/baghea-shop-kanat-vpm-artan1100-0106.jpg" alt="">
                </figure>
                <h4 class="primary_text primary_text_mobile Primary_100_text mb-3">شرکت کشاورزی باغ ارم ارس</h4>
                <address class="bd_1_text bd_1_text_mobile Dark_60_text mb-4">
                    آذربایجان شرقی - تبریز، خیابان فارابی، نبش کوی فاطمی، برج ارک، طبقه هفتم واحد A7
<!--                    <div class="small mt-2 fw-bolder">{{'postalCode'|translate}}: 5157983513</div>-->
                </address>
                <div class="description mb-4">
                    <h6 class="bd_1_text bd_1_text_mobile Primary_80_text fw-bolder">{{'existingProducts'|translate}}</h6>
                    <div class="bd_2_text bd_2_text_mobile Dark_60_text">کود، آفت کش، بذر، agrikem ، qualyfert ، merkez anadolu kimia</div>
                </div>
                <div class="row">
                    <div class="col-6 pe-1 ">
                        <a href="tel:04133254564" class="btn btn-outline-success w-100">
                            <small>واحد فروش: </small>
                            <small>04133254564</small>
                        </a>
                    </div>
                    <div class="col-6 ps-1">
                        <a href="tel:04133254485" class="btn btn-outline-success w-100">
                            <small>واحد پشتیبانی: </small>
                            <small>04133254485</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>