<app-page-breadcrumb
  [pageTitle]="'مراکز فروش سموم و کود شیمیایی'"
  [backUrl]="''"
></app-page-breadcrumb>

<div class="container-fluid">
    <div class="table-responsive mt_20px">
        <table class="table_fn no_wrap hover">
            <thead>
                <tr>
                    <th>نام فروشگاه</th>
                    <th>دسته بندی</th>
                    <th>نام فروشنده</th>
                    <th>شماره تماس</th>
                    <th>آدرس</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="نام فروشگاه">
                        کود و سم کانات
                    </td>
                    <td data-label="دسته بندی">
                        سم، کود، محلول
                    </td>
                    <td data-label="نام فروشنده">
                        هادی نظری
                    </td>
                    <td data-label="شماره تماس">
                        09123456892
                    </td>
                    <td data-label="آدرس">
                        آذربایجان شرقی - تبریز - راهنمایی بلوار 29 بهمن
                    </td>
                </tr>
                <tr>
                    <td data-label="نام فروشگاه">
                        کود و سم کانات
                    </td>
                    <td data-label="دسته بندی">
                        سم، کود، محلول
                    </td>
                    <td data-label="نام فروشنده">
                        هادی نظری
                    </td>
                    <td data-label="شماره تماس">
                        09123456892
                    </td>
                    <td data-label="آدرس">
                        آذربایجان شرقی - تبریز - راهنمایی بلوار 29 بهمن
                    </td>
                </tr>
                <tr>
                    <td data-label="نام فروشگاه">
                        کود و سم کانات
                    </td>
                    <td data-label="دسته بندی">
                        سم، کود، محلول
                    </td>
                    <td data-label="نام فروشنده">
                        هادی نظری
                    </td>
                    <td data-label="شماره تماس">
                        09123456892
                    </td>
                    <td data-label="آدرس">
                        آذربایجان شرقی - تبریز - راهنمایی بلوار 29 بهمن
                    </td>
                </tr>
                <tr>
                    <td data-label="نام فروشگاه">
                        کود و سم کانات
                    </td>
                    <td data-label="دسته بندی">
                        سم، کود، محلول
                    </td>
                    <td data-label="نام فروشنده">
                        هادی نظری
                    </td>
                    <td data-label="شماره تماس">
                        09123456892
                    </td>
                    <td data-label="آدرس">
                        آذربایجان شرقی - تبریز - راهنمایی بلوار 29 بهمن
                    </td>
                </tr>
                <tr>
                    <td data-label="نام فروشگاه">
                        کود و سم کانات
                    </td>
                    <td data-label="دسته بندی">
                        سم، کود، محلول
                    </td>
                    <td data-label="نام فروشنده">
                        هادی نظری
                    </td>
                    <td data-label="شماره تماس">
                        09123456892
                    </td>
                    <td data-label="آدرس">
                        آذربایجان شرقی - تبریز - راهنمایی بلوار 29 بهمن
                    </td>
                </tr>
                <tr>
                    <td data-label="نام فروشگاه">
                        کود و سم کانات
                    </td>
                    <td data-label="دسته بندی">
                        سم، کود، محلول
                    </td>
                    <td data-label="نام فروشنده">
                        هادی نظری
                    </td>
                    <td data-label="شماره تماس">
                        09123456892
                    </td>
                    <td data-label="آدرس">
                        آذربایجان شرقی - تبریز - راهنمایی بلوار 29 بهمن
                    </td>
                </tr>
                <tr>
                    <td data-label="نام فروشگاه">
                        کود و سم کانات
                    </td>
                    <td data-label="دسته بندی">
                        سم، کود، محلول
                    </td>
                    <td data-label="نام فروشنده">
                        هادی نظری
                    </td>
                    <td data-label="شماره تماس">
                        09123456892
                    </td>
                    <td data-label="آدرس">
                        آذربایجان شرقی - تبریز - راهنمایی بلوار 29 بهمن
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>