<app-page-breadcrumb
  [pageTitle]="'مراکز فروش سموم و کود شیمیایی'"
  [backUrl]="''"
></app-page-breadcrumb>

<div class="container-fluid">
    <div class="row shoping-centers-list g-3">
        <div class="col-12 col-sm-6 col-lg-4 col-xxl-3">
            <div class="item d-flex flex-column h-100">
                <figure class="item_image">
                    <img src="./assets/images/shop/1.jpg" alt="">
                </figure>
                <h4 class="primary_text primary_text_mobile Primary_100_text mb-3">نام مرکز توزیع سموم کشاورزی</h4>
                <address class="bd_1_text bd_1_text_mobile Dark_60_text mb-4">
                    آذربایجان شرقی تبریز - آبرسان مرکز توزیع سموم کشاورزی
                </address>
                <div class="description mb-4">
                    <h6 class="bd_1_text bd_1_text_mobile Primary_80_text fw-bolder">محصولات موجود</h6>
                    <div class="bd_2_text bd_2_text_mobile Dark_60_text">سم، کود، محلول، ماشین شخم زن، محصول یک ، محصول 2 ، npm</div>
                </div>
                <a href="" class="tertiary_btn medium_btn w-100 mt-auto">تماس 09123456789</a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xxl-3">
            <div class="item d-flex flex-column h-100">
                <figure class="item_image">
                    <img src="./assets/images/shop/2.jpg" alt="">
                </figure>
                <h4 class="primary_text primary_text_mobile Primary_100_text mb-3">نام مرکز توزیع سموم کشاورزی</h4>
                <address class="bd_1_text bd_1_text_mobile Dark_60_text mb-4">
                    آذربایجان شرقی تبریز - آبرسان مرکز توزیع سموم کشاورزی
                </address>
                <div class="description mb-4">
                    <h6 class="bd_1_text bd_1_text_mobile Primary_80_text fw-bolder">محصولات موجود</h6>
                    <div class="bd_2_text bd_2_text_mobile Dark_60_text">سم، کود، محلول، ماشین شخم زن، محصول یک ، محصول 2 ، npm</div>
                </div>
                <a href="" class="tertiary_btn medium_btn w-100 mt-auto">تماس 09123456789</a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xxl-3">
            <div class="item d-flex flex-column h-100">
                <figure class="item_image">
                    <img src="./assets/images/shop/3.jpg" alt="">
                </figure>
                <h4 class="primary_text primary_text_mobile Primary_100_text mb-3">نام مرکز توزیع سموم کشاورزی</h4>
                <address class="bd_1_text bd_1_text_mobile Dark_60_text mb-4">
                    آذربایجان شرقی تبریز - آبرسان مرکز توزیع سموم کشاورزی
                </address>
                <div class="description mb-4">
                    <h6 class="bd_1_text bd_1_text_mobile Primary_80_text fw-bolder">محصولات موجود</h6>
                    <div class="bd_2_text bd_2_text_mobile Dark_60_text">سم، کود، محلول، ماشین شخم زن، محصول یک ، محصول 2 ، npm</div>
                </div>
                <a href="" class="tertiary_btn medium_btn w-100 mt-auto">تماس 09123456789</a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xxl-3">
            <div class="item d-flex flex-column h-100">
                <figure class="item_image">
                    <img src="./assets/images/shop/1.jpg" alt="">
                </figure>
                <h4 class="primary_text primary_text_mobile Primary_100_text mb-3">نام مرکز توزیع سموم کشاورزی</h4>
                <address class="bd_1_text bd_1_text_mobile Dark_60_text mb-4">
                    آذربایجان شرقی تبریز - آبرسان مرکز توزیع سموم کشاورزی
                </address>
                <div class="description mb-4">
                    <h6 class="bd_1_text bd_1_text_mobile Primary_80_text fw-bolder">محصولات موجود</h6>
                    <div class="bd_2_text bd_2_text_mobile Dark_60_text">سم، کود، محلول، ماشین شخم زن، محصول یک ، محصول 2 ، npm</div>
                </div>
                <a href="" class="tertiary_btn medium_btn w-100 mt-auto">تماس 09123456789</a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xxl-3">
            <div class="item d-flex flex-column h-100">
                <figure class="item_image">
                    <img src="./assets/images/shop/2.jpg" alt="">
                </figure>
                <h4 class="primary_text primary_text_mobile Primary_100_text mb-3">نام مرکز توزیع سموم کشاورزی</h4>
                <address class="bd_1_text bd_1_text_mobile Dark_60_text mb-4">
                    آذربایجان شرقی تبریز - آبرسان مرکز توزیع سموم کشاورزی
                </address>
                <div class="description mb-4">
                    <h6 class="bd_1_text bd_1_text_mobile Primary_80_text fw-bolder">محصولات موجود</h6>
                    <div class="bd_2_text bd_2_text_mobile Dark_60_text">سم، کود، محلول، ماشین شخم زن، محصول یک ، محصول 2 ، npm</div>
                </div>
                <a href="" class="tertiary_btn medium_btn w-100 mt-auto">تماس 09123456789</a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xxl-3">
            <div class="item d-flex flex-column h-100">
                <figure class="item_image">
                    <img src="./assets/images/shop/3.jpg" alt="">
                </figure>
                <h4 class="primary_text primary_text_mobile Primary_100_text mb-3">نام مرکز توزیع سموم کشاورزی</h4>
                <address class="bd_1_text bd_1_text_mobile Dark_60_text mb-4">
                    آذربایجان شرقی تبریز - آبرسان مرکز توزیع سموم کشاورزی
                </address>
                <div class="description mb-4">
                    <h6 class="bd_1_text bd_1_text_mobile Primary_80_text fw-bolder">محصولات موجود</h6>
                    <div class="bd_2_text bd_2_text_mobile Dark_60_text">سم، کود، محلول، ماشین شخم زن، محصول یک ، محصول 2 ، npm</div>
                </div>
                <a href="" class="tertiary_btn medium_btn w-100 mt-auto">تماس 09123456789</a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xxl-3">
            <div class="item d-flex flex-column h-100">
                <figure class="item_image">
                    <img src="./assets/images/shop/1.jpg" alt="">
                </figure>
                <h4 class="primary_text primary_text_mobile Primary_100_text mb-3">نام مرکز توزیع سموم کشاورزی</h4>
                <address class="bd_1_text bd_1_text_mobile Dark_60_text mb-4">
                    آذربایجان شرقی تبریز - آبرسان مرکز توزیع سموم کشاورزی
                </address>
                <div class="description mb-4">
                    <h6 class="bd_1_text bd_1_text_mobile Primary_80_text fw-bolder">محصولات موجود</h6>
                    <div class="bd_2_text bd_2_text_mobile Dark_60_text">سم، کود، محلول، ماشین شخم زن، محصول یک ، محصول 2 ، npm</div>
                </div>
                <a href="" class="tertiary_btn medium_btn w-100 mt-auto">تماس 09123456789</a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xxl-3">
            <div class="item d-flex flex-column h-100">
                <figure class="item_image">
                    <img src="./assets/images/shop/2.jpg" alt="">
                </figure>
                <h4 class="primary_text primary_text_mobile Primary_100_text mb-3">نام مرکز توزیع سموم کشاورزی</h4>
                <address class="bd_1_text bd_1_text_mobile Dark_60_text mb-4">
                    آذربایجان شرقی تبریز - آبرسان مرکز توزیع سموم کشاورزی
                </address>
                <div class="description mb-4">
                    <h6 class="bd_1_text bd_1_text_mobile Primary_80_text fw-bolder">محصولات موجود</h6>
                    <div class="bd_2_text bd_2_text_mobile Dark_60_text">سم، کود، محلول، ماشین شخم زن، محصول یک ، محصول 2 ، npm</div>
                </div>
                <a href="" class="tertiary_btn medium_btn w-100 mt-auto">تماس 09123456789</a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xxl-3">
            <div class="item d-flex flex-column h-100">
                <figure class="item_image">
                    <img src="./assets/images/shop/3.jpg" alt="">
                </figure>
                <h4 class="primary_text primary_text_mobile Primary_100_text mb-3">نام مرکز توزیع سموم کشاورزی</h4>
                <address class="bd_1_text bd_1_text_mobile Dark_60_text mb-4">
                    آذربایجان شرقی تبریز - آبرسان مرکز توزیع سموم کشاورزی
                </address>
                <div class="description mb-4">
                    <h6 class="bd_1_text bd_1_text_mobile Primary_80_text fw-bolder">محصولات موجود</h6>
                    <div class="bd_2_text bd_2_text_mobile Dark_60_text">سم، کود، محلول، ماشین شخم زن، محصول یک ، محصول 2 ، npm</div>
                </div>
                <a href="" class="tertiary_btn medium_btn w-100 mt-auto">تماس 09123456789</a>
            </div>
        </div>
    </div>
</div>