@import '~bootstrap/scss/bootstrap';
@import "~leaflet/dist/leaflet.css";
@import "./assets/scss/_importedStyles";





.login_page_carousel{
    .carousel-inner{
        height: 100%;

        .carousel-item{
            height: 100%;
        }
    }
}

.leaflet-div-icon {
    background: $Primary_60;
    border: 3px solid $Secondary;
    border-radius: 50%;
    box-shadow: 0 0 1px 2px #fff;
}

.leaflet-draw-guide-dash{
    background-color: $Primary_60 !important;
}

.leaflet-interactive{
    stroke: #2dd7b8;
    fill: #37b7a0;
}

.leaflet-tooltip{
    font-family: $DefaultFontFamily;
    direction: rtl;
    font-weight: 400;
}

.leaflet-draw-draw-polygon{
    
    background-image: url(/assets/images/icons/polygon.png) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 75% !important;

}

.leaflet-draw-edit-remove{
    background-image: url(/assets/images/icons/eraser.png) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 75% !important;
}

.leaflet-draw-actions a {
    background-color: #cfcfcf;
    height: 30px !important;
    padding-top: 3px;
}


.leaflet-container{
    .leaflet-draw{
        display: none;
    }

    &.byDraw{
        .leaflet-draw{
            display: block;
        }
    }
}


ngb-modal-backdrop{
    z-index: 1090 !important;
}

.modal{
    z-index: 1090;
}