<div class="container">
    <div class="row g-3 mt-0 mb-3 col-12 col-lg-10 mx-auto">
        <div class="col-12 col-lg-6">
            <div class="box h-100">
                <div class="box_header text-center mb-3">
                    <h4 class="primary_text primary_text_mobile Primary_100_text mb-3">{{'standardPlan'|translate}}</h4>
                    <figure>
                        <img src="../../../assets/images/icons/standard-kanat-vpm-artan1100-0106.png" height="40" alt="">
                    </figure>
                </div>
                <div class="box_body">
                    <h4 class="Dark_90_text secondary_text py-3">
                        {{'standardPlanSubtitle'|translate}}
                    </h4>
                    <ul class="ps-3">
                        <li class="bd_1_text bd_1_text_mobile Dark_70_text mb-3">{{'standardPlanItem1'|translate}}</li>
                        <li class="bd_1_text bd_1_text_mobile Dark_70_text mb-1">{{'standardPlanItem2'|translate}}</li>
                        <ul class="mb-4 ps-3">
                            <li class="bu_3_text bu_3_text_mobile Dark_60_text mb-1">{{'standardPlanItem2Sub1'|translate}}</li>
                            <li class="bu_3_text bu_3_text_mobile Dark_60_text mb-1">{{'standardPlanItem2Sub2'|translate}}</li>
                            <li class="bu_3_text bu_3_text_mobile Dark_60_text mb-1">{{'standardPlanItem2Sub3'|translate}}</li>
                            <li class="bu_3_text bu_3_text_mobile Dark_60_text mb-1">{{'standardPlanItem2Sub4'|translate}}</li>
                        </ul>
                        <li class="bd_1_text bd_1_text_mobile Dark_70_text mb-3">{{'standardPlanItem3'|translate}}</li>
                        <li class="bd_1_text bd_1_text_mobile Dark_70_text mb-3">{{'standardPlanItem4'|translate}}</li>
                        <li class="bd_1_text bd_1_text_mobile Dark_70_text mb-3">{{'standardPlanItem5'|translate}}</li>
                        <li class="bd_1_text bd_1_text_mobile Dark_70_text mb-3">{{'standardPlanItem6'|translate}}</li>
                    </ul>
                   
                </div>
                <div class="box_footer text-center pt-3">
                    <div class="col-10 col-sm-6 col-lg-9 col-xl-8 mx-auto">
                        <a class="primary_btn medium_btn w-100" [routerLink]="['/package/invoice']">{{'selectField'|translate}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="box h-100 d-flex flex-column">
                <div class="box_header text-center mb-3">
                    <h4 class="primary_text primary_text_mobile Primary_100_text mb-3">{{'organizationPlan'|translate}}</h4>
                    <figure>
                        <img src="../../../assets/images/icons/organizational-kanat-vpm-artan1100-0106.png" height="40" alt="">
                    </figure>
                </div>
                <div class="box_body flex-grow-1">
                    <h4 class="Dark_90_text secondary_text py-3">
                        {{'standardPlanSubtitle'|translate}}
                    </h4>
                    <ul class="ps-3">
                        <li class="bd_1_text bd_1_text_mobile Dark_70_text mb-3">{{'standardPlanItem1'|translate}}</li>
                        <li class="bd_1_text bd_1_text_mobile Dark_70_text mb-1">{{'standardPlanItem2'|translate}}</li>
                        <ul class="mb-4 ps-3">
                            <li class="bu_3_text bu_3_text_mobile Dark_60_text mb-1">{{'standardPlanItem2Sub1'|translate}}</li>
                            <li class="bu_3_text bu_3_text_mobile Dark_60_text mb-1">{{'standardPlanItem2Sub2'|translate}}</li>
                            <li class="bu_3_text bu_3_text_mobile Dark_60_text mb-1">{{'standardPlanItem2Sub3'|translate}}</li>
                            <li class="bu_3_text bu_3_text_mobile Dark_60_text mb-1">{{'standardPlanItem2Sub4'|translate}}</li>
                        </ul>
                        <li class="bd_1_text bd_1_text_mobile Dark_70_text mb-3">{{'standardPlanItem3'|translate}}</li>
                        <li class="bd_1_text bd_1_text_mobile Dark_70_text mb-3">{{'standardPlanItem4'|translate}}</li>
                        <li class="bd_1_text bd_1_text_mobile Dark_70_text mb-3">{{'standardPlanItem5'|translate}}</li>
                        <li class="bd_1_text bd_1_text_mobile Dark_70_text mb-3">{{'standardPlanItem6'|translate}}</li>
                    </ul>

                </div>
                <div class="box_footer text-center pt-3 row">
                    <div class="col-10 col-sm-6 col-lg-9 col-xl-8 mx-auto">
                        <a class="tertiary_btn medium_btn w-100 Dark_90_text" href="tel:09304916440">{{'callWith'|translate}}&nbsp; 09304916440</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
