<div class="container">
    <div class="row g-3 mt-0 mb-3 col-12 col-lg-10 mx-auto">
        <div class="col-12 col-lg-6">
            <div class="box h-100">
                <div class="box_header text-center mb-3">
                    <h4 class="primary_text primary_text_mobile Primary_100_text mb-3">اشتراک استاندارد</h4>
                    <figure>
                        <img src="./assets/images/icons/standard.png" height="40" alt="">
                    </figure>
                </div>
                <div class="box_body">
                    <h4 class="Dark_90_text secondary_text py-3">
                        شما می توانید با خرید بسته برای زمین خود از خدمات زیر بهره مند شوید 
                    </h4>
                    <ul class="pe-3">
                        <li class="bd_1_text bd_1_text_mobile Dark_70_text mb-3">پایش متناوب و سریع زمین های کشاورزی از کاشت تا برداشت به کمک داده‌های ماهواره‌ای و هوایی</li>
                        <li class="bd_1_text bd_1_text_mobile Dark_70_text mb-1">ارائه نقشه و تحلیل‌های کارشناسی در زمینه‌های</li>
                        <ul class="mb-4 pe-3">
                            <li class="bu_3_text bu_3_text_mobile Dark_60_text mb-1">تراکم و سبزینگی گیاه</li>
                            <li class="bu_3_text bu_3_text_mobile Dark_60_text mb-1">وضعیت آبی گیاه</li>
                            <li class="bu_3_text bu_3_text_mobile Dark_60_text mb-1">وضعیت تغذیه‌ای گیاه</li>
                            <li class="bu_3_text bu_3_text_mobile Dark_60_text mb-1">آفات و بیماری‌های گیاهی</li>
                        </ul>
                        <li class="bd_1_text bd_1_text_mobile Dark_70_text mb-3">ارائه توصیه‌های فنی هواشناسی کشاورزی</li>
                        <li class="bd_1_text bd_1_text_mobile Dark_70_text mb-3">حرکت گام به گام با کشاورز در طول دوره رشد با تدوین برنامه کشت</li>
                        <li class="bd_1_text bd_1_text_mobile Dark_70_text mb-3">بررسی وضعیت و دوره رشد محصول</li>
                        <li class="bd_1_text bd_1_text_mobile Dark_70_text mb-3">پشتیبانی توسط کارشناسان مجرب کشاورزی</li>
                    </ul>
                   
                </div>
                <div class="box_footer text-center pt-3">
                    <div class="col-10 col-sm-6 col-lg-9 col-xl-8 mx-auto">
                        <a class="primary_btn medium_btn w-100" [routerLink]="['/package/invoice']">انتخاب زمین</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="box h-100 d-flex flex-column">
                <div class="box_header text-center mb-3">
                    <h4 class="primary_text primary_text_mobile Primary_100_text mb-3">اشتراک سازمانی</h4>
                    <figure>
                        <img src="./assets/images/icons/organizational.png" height="40" alt="">
                    </figure>
                </div>
                <div class="box_body flex-grow-1">
                    <h4 class="Dark_90_text secondary_text py-3">
                        شما می توانید با خرید بسته برای زمین خود از خدمات زیر بهره مند شوید 
                    </h4>
                    <ul class="pe-3">
                        <li class="bd_1_text bd_1_text_mobile Dark_70_text mb-3">پایش متناوب و سریع زمین های کشاورزی از کاشت تا برداشت به کمک داده‌های ماهواره‌ای و هوایی</li>
                        <li class="bd_1_text bd_1_text_mobile Dark_70_text mb-1">ارائه نقشه و تحلیل‌های کارشناسی در زمینه‌های</li>
                        <ul class="mb-4 pe-3">
                            <li class="bu_3_text bu_3_text_mobile Dark_60_text mb-1">تراکم و سبزینگی گیاه</li>
                            <li class="bu_3_text bu_3_text_mobile Dark_60_text mb-1">وضعیت آبی گیاه</li>
                            <li class="bu_3_text bu_3_text_mobile Dark_60_text mb-1">وضعیت تغذیه‌ای گیاه</li>
                            <li class="bu_3_text bu_3_text_mobile Dark_60_text mb-1">آفات و بیماری‌های گیاهی</li>
                        </ul>
                        <li class="bd_1_text bd_1_text_mobile Dark_70_text mb-3">ارائه توصیه‌های فنی هواشناسی کشاورزی</li>
                        <li class="bd_1_text bd_1_text_mobile Dark_70_text mb-3">حرکت گام به گام با کشاورز در طول دوره رشد با تدوین برنامه کشت</li>
                        <li class="bd_1_text bd_1_text_mobile Dark_70_text mb-3">بررسی وضعیت و دوره رشد محصول</li>
                        <li class="bd_1_text bd_1_text_mobile Dark_70_text mb-3">پشتیبانی توسط کارشناسان مجرب کشاورزی</li>
                    </ul>       
                </div>
                <div class="box_footer text-center pt-3 row">
                    <div class="col-10 col-sm-6 col-lg-9 col-xl-8 mx-auto">
                        <a class="tertiary_btn medium_btn w-100" href="tel:09304916440">تماس با&nbsp; 09304916440</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
