<nav class="navbar navbar-expand-lg navbar-light user_sidebar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="./assets/images/logo.png" alt=""></a>

      <div ngbDropdown class="d-inline-flex align-items-center justify-content-center me-auto" *ngIf="windowWidth<992">
        <a (click)="open(content)" class="d-inline-block bu_3_text bu_3_text_mobile my-1 ms-2" >
          <img src="./assets/images/icons/enamad.png" height="30" alt="">
        </a>

        <button type="button" class="ghost_btn small_btn" id="account_btn_dropdown_mobile" ngbDropdownToggle>
          <img [src]="(userService.UserHomeInfo|async)?.image || profileAvatar" alt="">
        </button>
        <div ngbDropdownMenu aria-labelledby="account_btn_dropdown_mobile" class="text-end">
          <span class="w-100 text-center d-block">{{(userService.UserHomeInfo|async)?.fullName}}</span>
          <div class="dropdown-divider"></div>
          <a ngbDropdownItem class="bu_3_text bu_3_text_mobile py-2" [routerLink]="['/account/profile']">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="ms-1 bi bi-person" viewBox="0 0 16 16">
              <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
            </svg>
            پروفایل
          </a>
          <button ngbDropdownItem class="bu_3_text bu_3_text_mobile py-2" (click)="logOut()">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="ms-1 bi bi-box-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
              <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
            </svg>
            خروج از حساب
          </button>
        </div>
        
      </div>
      <button class="navbar-toggler" type="button" (click)="showMenu=!showMenu"
        data-bs-toggle="collapse" data-bs-target="#navbarNav" 
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse w-100 navbar-collapse" [ngClass]="{'show':showMenu}" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard']" [routerLinkActive]="'active'" (click)="showMenu=false" aria-current="page">
                <img src="./assets/images/icons/dashboard.svg" alt="">
                میز کار من
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/fields']" [routerLinkActive]="'active'" (click)="showMenu=false" aria-current="page">
                <img src="./assets/images/icons/field.svg" alt="">
                زمین های من
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/weather']" [routerLinkActive]="'active'" (click)="showMenu=false" aria-current="page">
                <img src="./assets/images/icons/weather.svg" alt="">
                هواشناسی
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/package']" [routerLinkActive]="'active'" (click)="showMenu=false" aria-current="page">
                <img src="./assets/images/icons/chart.svg" alt="">
                ارتقای سرویس
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/shopingcenters']" [routerLinkActive]="'active'" (click)="showMenu=false" aria-current="page">
                <img src="./assets/images/icons/shop.svg" alt="">
                مراکز فروش کود و سم 
            </a>
          </li>
          <li class="nav-item mt-auto supportBtn" *ngIf="showSupportBtn">
            <a class="nav-link" (click)="openRayChat()" aria-current="page">
                <span id="new_message_count" *ngIf="newMessageCount">{{newMessageCount}}</span>
                <img src="./assets/images/icons/support.svg" alt="">
                پشتیبانی
            </a>
          </li>
        </ul>
      </div>
    </div>
</nav>



<div id="top_bar" *ngIf="windowWidth>=992">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-auto me-auto">
        <a (click)="open(content)" class="d-inline-block bu_3_text bu_3_text_mobile my-1 me-1" >
          <img src="./assets/images/icons/enamad.png" height="30" alt="">
        </a>
      </div>
      <div class="col-auto">
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="ghost_btn small_btn" id="account_btn_dropdown" ngbDropdownToggle>
            <img [src]="(userService.UserHomeInfo|async)?.image || profileAvatar" alt="">
            {{(userService.UserHomeInfo|async)?.fullName}} 
          </button>
          <div ngbDropdownMenu aria-labelledby="account_btn_dropdown" class="text-end">
            <a ngbDropdownItem class="bu_3_text bu_3_text_mobile py-2" [routerLink]="['/account/profile']">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="ms-1 bi bi-person" viewBox="0 0 16 16">
                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
              </svg>
              پروفایل
            </a>
            <button ngbDropdownItem class="bu_3_text bu_3_text_mobile py-2" (click)="logOut()">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="ms-1 bi bi-box-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
              </svg>
              خروج از حساب
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="showMenu" (click)="showMenu=false"></div>

<div class="content_wrapper">
  <router-outlet></router-outlet>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">مجوزها</h4>
    <button type="button" class="btn-close me-auto ms-0" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body text-center">
    <a referrerpolicy="origin" *ngIf="isDotIr" target="_blank" href="https://trustseal.enamad.ir/?id=300607&amp;Code=h10Zv2SZ6fl2U5dnUrnH"><img referrerpolicy="origin" src="https://Trustseal.eNamad.ir/logo.aspx?id=300607&amp;Code=h10Zv2SZ6fl2U5dnUrnH" alt="" style="cursor:pointer" id="h10Zv2SZ6fl2U5dnUrnH"></a>
    <a referrerpolicy="origin" *ngIf="isDotCom" target="_blank" href="https://trustseal.enamad.ir/?id=301828&amp;Code=SjhbIOvQvsZMIYJs29La"><img referrerpolicy="origin" src="https://Trustseal.eNamad.ir/logo.aspx?id=301828&amp;Code=SjhbIOvQvsZMIYJs29La" alt="" style="cursor:pointer" id="SjhbIOvQvsZMIYJs29La"></a>
  </div>
</ng-template>