@import "_vars";

.calendar_wrapper{
    width: 100%;
    border: 1px solid $Primary_20;

    .current_month{
        width: 130px !important;
        text-align: center;
    }

    .ngb-dp-header{
        display: none;
    }

    .ngb-dp-weekdays{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid $Primary_20;

        .ngb-dp-weekday{
            height: auto !important;
            writing-mode: initial;
            transform: unset;
            text-align: center;
            flex-grow: 1;
            padding: 12px 0;
            background-color: $Dark_10;
            color: $Primary_60;
            font-size: 0.95rem;
            font-weight: 500;
            width: calc(100 / 7);
            
            &:not(:last-child){
                border-left: 1px solid $Primary_20;
            }
        }
    }

    .ngb-dp-week{
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        border-radius: 0;

        &:not(:last-child){
            border-bottom: 1px solid $Primary_20;
        }

        .ngb-dp-day{
            width: calc(100 / 7);
            height: auto !important;
            writing-mode: initial;
            transform: unset;
            text-align: center;
            flex-grow: 1;
            padding: 16px 10px;
            font-size: 0.9rem;

            &:not(:last-child){
                border-left: 1px solid $Primary_20;
            }

            &.hidden{
                padding: 0;
            }
        }
    }
}