@import "_vars";

.step_wizard {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 2rem;

    .step_wrapper{
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        font-weight: 200;

        .step_icon {
            height: 35px;
            width: 50px;
            margin-left: 0.3rem;
            border-radius: 5px;
            background: #e1e1e1;
        }

        &.active{
            .step_icon{
                background-color: $Primary_60;
                fill: $White;
            }
            font-weight: 400;
        }
    }
}


.form_wrapper{
    .map_wrapper{
        position: relative;

        #map{
            height: 500px;
            width: 100%;
            border-radius: 8px;
            z-index: 2;

            &.byFile{
                &~.upload_btn{
                    display: block;
                }
            }
        }

        .upload_btn {
            position: absolute;
            right: 10px;
            width: 125px;
            z-index: 3;
            background: white;
            display: inline-flex;
            top: 55px;
            border-radius: 4px;
            border: 1px solid #646f60bb;
            align-items: center;
            justify-content: center;
            font-size: 0.8rem;
            font-family: $DefaultFontFamily;
            padding: 8px 10px;
            cursor: pointer;
            display: none;
        
            img{
                width: 25px;
                margin-right: 10px;
            }

            &:hover{
                background-color: #f4f4f4;
            }
        }

        #file_input{
            transform: scale(0);
            opacity: 0;
            position: absolute;
        }

        .user_geo_location{
            position: absolute;
            bottom: 65px;
            left: 11px;
            z-index: 401;
            width: 46px;
            height: 46px;
            border: 1px solid rgb(86 86 86);
            border-radius: 5px;
            background-color: white;
        }
    }
}


.draw_methods{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: $DefaultFontFamily;


    .methods_wrapper {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        flex-wrap: wrap;

        button{
            height: 8rem;
            width: 8rem;
            border: 1px solid $Dark_30;
            border-radius: 8px;
            display: inline-block;
            padding: 8px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            position: relative;
            top: 0;
            transition: 0.2s all;
            outline: none;

            &:hover:not(:disabled){
                top: -4px;
                background-color: $Primary_40;
            }

            img{
                height: 2.5rem;
                margin-bottom: 0.75rem;
            }

            &:disabled{
                cursor: not-allowed;
                opacity: 0.65;
            }
        }
    }
    


}



