html , body{
    font-family: $DefaultFontFamily , sans-serif;
    background-color: $LightGray_1;
}

a{
    text-decoration: none;
}

.raychat_automessage_preview_container{
    display: none !important;
}

#raychatBtn {
    display: none !important;
}