html , body{
    background-color: $LightGray_1;
    font-family: $DefaultFontFamily , sans-serif;
}
html{
    body.latin{
        font-family: $DefaultLatinFontFamily , sans-serif;
    }
}

a{
    text-decoration: none;
}

// .raychat_automessage_preview_container{
//     display: none !important;
// }

// #raychatBtn , #animation-root1{
//     display: none !important;
// }