.fields_wrapper{
    .field_item{
        background-image: url(/assets/images/fields/bg-kanat-vpm-artan1100-0106.png);
        background-position: center left;
        background-repeat: no-repeat;
        background-size: 100%;
        transition: 0.3s all;
        border: 1px solid $Primary_40;
        display: flex;
        border-radius: 8px;
        padding: 8px 16px;
        align-items: center;
        height: 100%;
        cursor: pointer;
        position: relative;
        overflow: hidden;

        &:hover{
            background-size: 120%;

            .field_polygon{
                // transform: rotate(10deg);
            }
        }

        .detail{
            flex-grow: 1;
        }

        .field_polygon{
            transition: 0.1s all;
            transform: rotate(0deg);
            width: 70px;
            height: 70px;
            object-fit: scale-down;
            object-position: center;
        }

        &.hasPackage{
            .remove_btn{
                display: none;
            }

            &.left{
                &::before{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 40px;
                    height: 40px;
                    background-color: #ff9d3f;
                    content: "";
                    z-index: 3;
                    background-image: url(/assets/images/icons/permium-kanat-vpm-artan1100-0106.png);
                    background-size: 16px;
                    background-repeat: no-repeat;
                    clip-path: polygon(100% 0, 0% 100%, 0 0);
                    background-position: top 2px left 4px;
                }
            }

            &.right{
                &::before{
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 40px;
                    height: 40px;
                    background-color: #ff9d3f;
                    content: "";
                    z-index: 3;
                    background-image: url(/assets/images/icons/permium-kanat-vpm-artan1100-0106.png);
                    background-size: 16px;
                    background-repeat: no-repeat;
                    clip-path: polygon(100% 0, 0 0, 100% 100%);
                    background-position: top 2px right 4px;
                }
            }
        }
    }
}

.add_new_field_wrapper{
    text-align: center;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    padding: 16px;
    background: #f1f1f1;
    border-radius: 8px;
    background-image: url(/assets/images/fields/addfieldbg-kanat-vpm-artan1100-0106.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 70%;

    img{
        max-width: 200px;
        opacity: 0.3;
    }
}

@media only screen and (max-width:767px){
    .add_new_field_wrapper{
        background-image: none;
    }
}