// $Primary_100:#006754;
// $Primary_80:#15957d;
// $Primary_60:#47a191;
// $Primary_40:#95c5bc;
// $Primary_20:#add3cc;

$Primary_100:#355f41;
$Primary_80:#206e5b;
$Primary_60:#3a8d78;
$Primary_40:#74ab74;
$Primary_20:#add3cc;

$Secondary:#35b34b;

/** Dark - Text Colors **/
$Dark_100:#060110;
$Dark_90:#1F1B28;
$Dark_80:#383440;
$Dark_70:#514e58;
$Dark_60:#6A6770;
$Dark_50:#827F87;
$Dark_40:#9A989E;
$Dark_30:#B4B2B7;
$Dark_20:#CCCBCE;
$Dark_10:#E6E5E7;
$Dark_5:#F1F1F2;


/** Royal Blue Dark - Text & Background Color **/
$RoyalBlue_100:#081B5E;
$RoyalBlue_90: #21326F;
$RoyalBlue_80: #39497E;
$RoyalBlue_70: #53608F;
$RoyalBlue_60: #6B769E;
$RoyalBlue_50: #838CAE;
$RoyalBlue_40: #9BA3BE;
$RoyalBlue_30: #B4BACE;
$RoyalBlue_20: #CDD0DE;
$RoyalBlue_10: #E6E8EE;
$RoyalBlue_5: #F1F2F6;


/** Blue - Primary & Info Colors **/
$Blue_Dark: #1C47E5;
$Blue_100: #1F51FF;
$Blue_90: #3663FF;
$Blue_80: #4C74FF;
$Blue_70: #6386FF;
$Blue_60: #7997FF;
$Blue_50: #8EA7FE;
$Blue_40: #A4B8FE;
$Blue_30: #BBCAFE;
$Blue_20: #D1DBFE;
$Blue_10: #E8EDFE;
$Blue_5: #F2F5FE;


/** Oranges - Account & Warning Colors **/
$Orange_Dark: #E5551C;
$Orange_100: #FF5F1F;
$Orange_90: #FF6F36;
$Orange_80: #FF7F4C;
$Orange_70: #FF8F63;
$Orange_60: #FF9F79;
$Orange_50: #FEAE8E;
$Orange_40: #FEBEA4;
$Orange_30: #FECEBB;
$Orange_20: #FEDED1;
$Orange_10: #FEEEE8;
$Orange_5: #FEF6F2;



/** Red - Error Colors **/
$Red_100: #F64834;
$Red_75: #F87667;
$Red_50: #FAA399;
$Red_25: #FBD0CB;
$Red_10: #FEECEA;



/** Green - Success Colors **/
$Green_100: #07B091;
$Green_75: #45C4AD;
$Green_50: #82D7C7;
$Green_25: #C0EAE2;
$Green_10: #E6F7F3;



/** Light Gray - Background **/
$LightGray_3: #F6F7F9; 
$LightGray_2: #F9F9FB; 
$LightGray_1: #FCFCFD;

$White:#FEFEFE;
$FooterBackGroundColor:#F4F5F8;

$boxShadow: 0px 16px 40px rgba(81, 78, 88, 0.12);



/** Gradients **/
$Gradients_50: linear-gradient(90deg, $Primary_80 0%, #8FA8FE 100%);
$Gradients_20: linear-gradient(270deg, #D1DBFE 0%, #FEDED1 100%);
$Gradients_10: linear-gradient(90deg, #dffbe5 0%, #e9e9e9 100%);

$BorderGradient: linear-gradient(90deg, rgba(2,10,41,0) 0%, rgba(2,10,41,0.1) 50%, rgba(2,10,41,0) 100%);


$DefaultFontFamily:'Vazir';

$sizes: 0px, 4px ,5px , 6px, 8px , 10px , 12px , 16px , 20px , 24px , 28px , 32px, 40px , 48px , 64px , 80px ,90px ,100px ,120px, 150px, 160px, 195px;

$lines: 1,2,3,4,5;