@import "_vars";
.compare_wrapper{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 16px;
  gap: 16px;
  height: calc(100vh - 91px);

  .item{
    width: calc(50% - 8px);
    height: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .compare_wrapper{
    flex-wrap: wrap;
    width: 100%;
    min-height: calc(100vh - 91px);

    .item{
      width: 100%;
      height: 75%;
    }
  }
}