<app-page-breadcrumb [pageTitle]="'لیست زمین های من'"></app-page-breadcrumb>

<div class="container-fluid">
    <div class="row g-3 fields_wrapper">
        <div class="col-12 col-sm-6 col-lg-4 col-xxl-3" *ngFor="let field of FieldsList;let index = index">
            <a href="" class="field_item">
                <div class="detail">
                    <h3 class="field_title heading_level_4 heading_level_4_mobile Primary_100_text mb-3">{{field.title}}</h3>
                    <h6 class="cultivated_crop bu_2_text bu_2_text_mobile Dark_80_text mb-0">{{field.product}} - {{field.area}} هکتار</h6>
                </div>
                <!-- <img [src]="" class="field_polygon" alt=""> -->

                <div class="field_polygon">
                    <app-field-svg [cordinates]="field.cordinates"></app-field-svg>
                </div>
            </a>
        </div>

        <div class="col-12">
            <div class="add_new_field_wrapper">
                <div class="col-12 col-md-6 me-auto d-flex flex-column justify-content-center align-items-center">
                    <img src="./assets/images/fields/add_field.png" alt="">
                    <a [routerLink]="['/fields/add']" class="primary_btn mt-3">
                        افزودن زمین جدید
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff" class="bi bi-plus-lg me-2" viewBox="0 0 16 16">
                            <path d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>