<app-page-breadcrumb [pageTitle]="'buyStandardPackage'|translate">
    <button class="text-white border btn-sm border-white bg-transparent h6 m-0 p-2 rounded text-nowrap" (click)="openFieldsModal()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="d-none d-sm-inline-block bi bi-pin-map me-1" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8l3-4z"/>
            <path fill-rule="evenodd" d="M8 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6zM4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z"/>
          </svg> 
       {{'selectField'|translate}}
    </button>
</app-page-breadcrumb>


<div class="container-fluid">
    <div class="card text-center" *ngIf="!isChanged">
        <div class="card-header">
          {{'buyStandardPackage'|translate}}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{'standardPackageForField'|translate}}</h5>
          <p class="card-text">{{'selectFieldForPackage'|translate}}</p>
          <button class="primary_btn small_btn" (click)="openFieldsModal()">{{'selectField'|translate}}</button>
        </div>
    </div>

    <div class="container" *ngIf="SelectedField">
        <div class="row mt-0 col-12 col-lg-10 mx-auto">
            <div class="col-12 col-lg-6 mb-3">
                <div class="box h-100">
                    <div class="box_header text-center mb-3">
                        <h4 class="primary_text primary_text_mobile Primary_100_text mb-3">{{'detail'|translate}}</h4>
                        <figure>
                            <img src="../../../assets/images/icons/detail-kanat-vpm-artan1100-0106.png" height="40" alt="">
                        </figure>
                    </div>
                    <div class="box_body">
                        <h6 class="secondary_text secondary_text_mobile Primary_80_text mb-2">{{'fieldInformation'|translate}}</h6>
                        <ul class="list-group list-group-flush p-0 mb-3">
                            <li class="bu_3_text bu_3_text_mobile list-group-item bg-transparent d-flex align-items-center justify-content-between">
                                <span class="fw-bold">{{'fieldName'|translate}} </span>
                                <span>{{SelectedField.name}}</span>
                            </li>
                            <li class="bu_3_text bu_3_text_mobile list-group-item bg-transparent d-flex align-items-center justify-content-between">
                                <span class="fw-bold">{{'productName'|translate}} </span>
                                <span>{{SelectedField.productName}}</span>
                            </li>
                            <li class="bu_3_text bu_3_text_mobile list-group-item bg-transparent d-flex align-items-center justify-content-between">
                                <span class="fw-bold">{{'fieldArea'|translate}} </span>
                                <span>{{SelectedField.area}} {{'hectares'|translate}}</span>
                            </li>
                            <li class="bu_3_text bu_3_text_mobile list-group-item bg-transparent d-flex align-items-center justify-content-between">
                                <span class="fw-bold">{{'cultivationDate'|translate}} </span>
                                <span dir="ltr">{{translateService.calendarType==='Shamsi' ? SelectedField.cultivationDate : dateTimeService.toGeorgianDate(SelectedField.cultivationDate)}}</span>
                            </li>

                            <li class="bu_3_text bu_3_text_mobile list-group-item bg-transparent d-flex align-items-start justify-content-between">
                                <span class="fw-bold">{{'growthPeriod'|translate}} </span>
                                <div>
                                    <table class="growth_period">
                                        <tr *ngFor="let item of FieldPhenologiesList">
                                            <td>{{translateService.calendarType==='Shamsi' ? item.startDate : dateTimeService.toGeorgianDate(item.startDate)}} </td>
                                            <td>{{'to'|translate}}</td>
                                            <td>{{translateService.calendarType==='Shamsi' ? item.endDate : dateTimeService.toGeorgianDate(item.endDate)}}</td>
                                        </tr>
                                        <tr *ngIf="FieldPhenologiesList.length==0"><td>{{'notFoundGrowthPeriod'|translate}}</td></tr>
                                    </table>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="col-12 col-lg-6 mb-3">
                <div class="box h-100">
                    <div class="box_header text-center mb-3">
                        <h4 class="primary_text primary_text_mobile Primary_100_text mb-3">{{'invoice'|translate}}</h4>
                        <figure>
                            <img src="../../../assets/images/icons/invoice-kanat-vpm-artan1100-0106.png" height="40" alt="">
                        </figure>
                    </div>
                    <div class="box_body">
                        <h6 class="secondary_text secondary_text_mobile Primary_80_text mb-2">{{'serviceDetail'|translate}}</h6>
                        <ul class="list-group list-group-flush p-0 mb-4">
                            <li class="bu_3_text bu_3_text_mobile list-group-item bg-transparent d-flex align-items-center justify-content-between">
                                <span class="fw-bold">{{'serviceType'|translate}}</span>
                                <span> {{'standard'|translate}}</span>
                            </li>

                            
                            <ng-container *ngIf="OrderDetail">
                                <li class="bu_3_text bu_3_text_mobile list-group-item bg-transparent d-flex align-items-center justify-content-between">
                                    <span class="fw-bold">{{'serviceStartDate'|translate}} </span>
                                    <span>{{translateService.calendarType==='Shamsi' ? (OrderDetail?.packageStartDate) : dateTimeService.toGeorgianDate(OrderDetail?.packageStartDate)}}</span>
                                </li>
                                <li class="bu_3_text bu_3_text_mobile list-group-item bg-transparent d-flex align-items-center justify-content-between">
                                    <span class="fw-bold">{{'serviceEndDate'|translate}} </span>
                                    <span>{{translateService.calendarType==='Shamsi' ? (OrderDetail?.packageEndDate) : dateTimeService.toGeorgianDate(OrderDetail?.packageEndDate)}}</span>
                                </li>
                                <li class="bu_3_text bu_3_text_mobile list-group-item bg-transparent d-flex align-items-center justify-content-between">
                                    <span class="fw-bold">{{'orderDate'|translate}}</span>
                                    <span>{{translateService.calendarType==='Shamsi' ? (OrderDetail?.orderDate) : dateTimeService.toGeorgianDate(OrderDetail?.orderDate)}}</span>
                                </li>
                            </ng-container>
                        </ul>
                        <h6 class="secondary_text secondary_text_mobile Primary_80_text mb-2">{{'paymentDetail'|translate}}</h6>
                        <ul class="list-group list-group-flush p-0 mb-3">

                            <li class="bu_3_text bu_3_text_mobile list-group-item bg-transparent d-flex align-items-center justify-content-between">
                                <span class="fw-bold">{{'price'|translate}}</span>
                                <span>
                                    {{((OrderDetail?.totalAmount || '0') - (OrderDetail?.taxAmount || '0'))|number:"0.0-0"}}
                                    <small>{{'toman'|translate}}</small>
                                </span>
                            </li>
                            <li class="bu_3_text bu_3_text_mobile list-group-item bg-transparent d-flex align-items-center justify-content-between">
                                <span class="fw-bold">{{'tax'|translate}}</span>
                                <span>{{(OrderDetail?.taxAmount || '0')|number:"0.0-0"}} <small>{{'toman'|translate}}</small></span>
                            </li>
                            <li class="bu_3_text bu_3_text_mobile list-group-item d-flex align-items-center justify-content-between RoyalBlue_10_bg">
                                <span class="fw-bold">{{'priceToPay'|translate}}</span>
                                <span class="fw-bold">{{(OrderDetail?.totalAmount || '0')|number:"0.0-0"}} <small>{{'toman'|translate}}</small></span>
                            </li>
                        </ul>

                        <div class="text-center">
                            <button class="primary_btn medium_btn" (click)="goToPayment()" *ngIf="PeriodCount"
                                [disabled]="!OrderDetail?.orderId">{{'continueAndPay'|translate}}</button>

                            <button class="btn btn-danger medium_btn" *ngIf="!PeriodCount"
                                disabled>{{'selectGrowthPeriodCount'|translate}}</button>
                        </div>
                    </div>
                    <!-- <div class="box_footer text-center pt-3 row">

                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>



<ng-template #fieldsModal let-modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h6 class="modal-title" id="modal-basic-title">{{'selectField'|translate}}</h6>
        <button type="button" class="btn-close ms-auto me-0" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="draw_methods py-3 px-4">
            <div class="title heading_level_4 heading_level_4_mobile text-center">{{'selectFieldForPackage'|translate}}</div>
            <div class="row g-3 fields_wrapper mt-3 justify-content-center">
                <ng-container *ngFor="let field of FieldsList;let index = index">
                    <div class="col-12 col-sm-6 col-xl-4" (click)="choaseFieldModal(field)" *ngIf="!field.hasPackage">
                        <div class="field_item" [ngClass]="[field.hasPackage?'hasPackage':'', translateService.siteDir==='ltr'?'right':'left']">
                            <div class="detail">
                                <h3 class="field_title heading_level_4 heading_level_4_mobile Primary_100_text mb-3">{{field.name}}</h3>
                                <h6 class="cultivated_crop bu_2_text bu_2_text_mobile Dark_80_text mb-0">{{field.productName}} - {{field.area}} {{'hectares'|translate}}</h6>
                            </div>
            
                            <div class="field_polygon">
                                <app-field-svg [cordinates]="field.polygon"></app-field-svg>
                            </div>
                        </div>
                    </div>    
                </ng-container>

                <div class="col-12 text-center mt-3">
                    <a (click)="goToAddNewField()" class="primary_btn" [ngClass]="translateService.siteDir">
                        {{'addNewField'|translate}}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff" class="bi bi-plus-lg ms-2" viewBox="0 0 16 16">
                            <path d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</ng-template>