<div class="row mx-0 align-items-stretch login_page">
  <div class="col-12 col-md-6 min-vh-100 d-flex align-items-center justify-content-center right_side">
    <div class="forms_wrapper w-100">
      <div class="text-center">
        <img
          src="./assets/images/logo.jpg"
          width="120"
          class="logo mb-2"
          alt="کانات"
        />
        <h3 class="heading_level_3 heading_level_3_mobile mb-4 Primary_80_text">
          کانات، نگرشی نوین بر زمین
        </h3>
      </div>

      <form
        class="login_form"
        [formGroup]="LoginForm"
        (ngSubmit)="login()"
        #Login="ngForm"
        novalidate
      >
        <h4
          class="secondary_text secondary_text_mobile text-center Primary_60_text mb-3 font-weight-bold"
        >
          ورود به حساب کاربری
        </h4>
        <div class="container">
          <div class="col-12 col-md-9 col-xl-7 mx-auto">
            <label
              for="mobile"
              class="bu_2_text bu_2_text_mobile Dark_70_text mb-1 d-flex justify-content-between align-items-end"
            >
              شماره موبایل

              <button
                type="button"
                class="ghost_btn small_btn"
                *ngIf="vCodeSent"
                (click)="changeMobile()"
              >
                تغییر شماره
              </button>
            </label>
            
            <div class="mobile_input_wrapper">
                <div class="countriesList">
                    <ng-select
                        bindLabel="code"
                        bindValue="code"
                        notFoundText="یافت نشد"
                        [multiple]="false"
                        [clearable]="false"
                        [items]="CountriesCodes"
                        formControlName="countryCode"
                        >
                            <ng-template ng-label-tmp let-item="item">
                              <span class="d-block text-start">
                                <small dir="ltr" class="align-text-bottom">{{item.code}}</small> 
                                <img height="15" width="15" class="me-2" [src]="'./assets/images/flags/4x3/'+item.icon+'.svg'"/>
                              </span>
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item">
                              <span class="d-block text-start">
                                <small dir="ltr" class="align-text-bottom">{{item.code}}</small> 
                                <img height="15" width="15" class="me-2" [src]="'./assets/images/flags/4x3/'+item.icon+'.svg'"/>
                              </span>
                            </ng-template>
                    </ng-select>
                </div>
                <input
                    type="text"
                    class="form-control form-control-lg text-start"
                    [readonly]="vCodeSent"
                    [maxLength]="10"
                    formControlName="mobile"
                    dir="ltr"
                    id="mobile"
                    autocomplete="off"
                />
            </div>

          </div>
          <div class="col-12 col-md-9 col-xl-7 mx-auto mt-3" *ngIf="vCodeSent">
            <label
              for="code"
              class="bu_2_text bu_2_text_mobile Dark_70_text mb-1 d-flex align-items-end justify-content-between"
            >
              کد اعتبار سنجی
              <button
                type="button"
                class="ghost_btn small_btn"
                *ngIf="retryRequestCode"
                (click)="RequestCode()"
              >
                ارسال مجدد
              </button>
            </label>
            <input
              type="text"
              class="form-control form-control-lg text-center"
              formControlName="code"
              [maxLength]="4"
              dir="ltr"
              id="code"
              autocomplete="off"
            />
          </div>

          <div class="col-12 col-md-9 col-xl-7 mx-auto mt-3">
            <button
              type="submit"
              class="primary_btn w-100"
              [disabled]="Login.invalid"
            >
              {{ vCodeSent ? "ورود به حساب کاربری" : "دریافت کد اعتبار سنجی" }}
            </button>
          </div>
        </div>
      </form>

      <!-- <form class="register_form" *ngIf="FormStatus=='registerForm'">
                <h4 class="secondary_text secondary_text_mobile text-center Primary_60_text mb-3 font-weight-bold">ایجاد حساب کاربری</h4>
                <div class="container">
                    <div class="col-12 col-md-9 col-xl-7 mx-auto">
                        <label for="username" class="bu_2_text bu_2_text_mobile Dark_70_text mb-1">ایمیل یا شماره موبایل</label>
                        <input type="email" class="form-control form-control-lg text-start" dir="ltr" id="username" autocomplete="off">
                    </div>
                    <div class="col-12 col-md-9 col-xl-7 mx-auto mt-3">
                        <label for="password" class="bu_2_text bu_2_text_mobile Dark_70_text mb-1">رمز عبور</label>
                        <input type="password" class="form-control form-control-lg text-start" dir="ltr" id="password" autocomplete="off">
                    </div>
                
                    <div class="col-12 col-md-9 col-xl-7 mx-auto mt-3">
                        <button type="submit" class="primary_btn w-100">ایجاد حساب کاربری</button>
                    </div>
                </div>
            </form>

            <form class="reset_form" *ngIf="FormStatus=='resetForm'">
                <h4 class="secondary_text secondary_text_mobile text-center Primary_60_text mb-3 font-weight-bold">بازیابی رمز عبور</h4>
                <div class="container">
                    <div class="col-12 col-md-9 col-xl-7 mx-auto">
                        <label for="username" class="bu_2_text bu_2_text_mobile Dark_70_text mb-1">ایمیل یا شماره موبایل</label>
                        <input type="email" class="form-control form-control-lg text-start" dir="ltr" id="username" autocomplete="off">
                    </div>
        
                    <div class="col-12 col-md-9 col-xl-7 mx-auto mt-3">
                        <button type="submit" class="primary_btn w-100">ارسال رمز عبور جدید</button>
                    </div>
                </div>
            </form> -->

      <!-- <div class="container">
                <div class="row">
                    <div class="col-12 col-md-9 col-xl-7 mx-auto text-center mt-2 d-flex justify-content-between flex-wrap">
                        <button class="ghost_btn small_btn mt-2" *ngIf="FormStatus!='registerForm'" (click)="FormStatus='registerForm'">حساب کاربری ندارید؟  ثبت نام کنید</button>
                        <button class="ghost_btn small_btn mt-2" *ngIf="FormStatus!='loginForm'" (click)="FormStatus='loginForm'">حساب کاربری دارید؟</button>
                        <button class="ghost_btn small_btn mt-2" *ngIf="FormStatus!='resetForm'" (click)="FormStatus='resetForm'">فراموشی رمز عبور</button>
                    </div>
                </div>
            </div> -->
    </div>
  </div>
  <div class="col-12 col-md-6 p-0 min-vh-100">
    <ngb-carousel
      *ngIf="CarouselItems"
      class="carousel-fade login_page_carousel"
      [interval]="0"
    >
      <!-- <ng-template ngbSlide *ngFor="let item of CarouselItems">
        <div class="slide-wrapper">
          <div class="carousel-image-wrapper">
            <img [src]="item.imageUrl" [alt]="item.title" />
          </div>
          <div class="carousel-caption">
            <h4 class="mb-3 heading_level_4 heading_level_4_mobile">
              {{ item.title }}
            </h4>
            <p class="bd_2_etr1_text">{{ item.text }}</p>
          </div>
        </div>
      </ng-template> -->

      <!-- لوگو
تیتر
متن
تصویر -->

      <ng-template ngbSlide>
        <div class="slide-wrapper">
          <div class="d-flex align-items-center flex-column justify-content-center h-100">
            <h6 class="primary_text primary_text_mobile Primary_80_text">ثبت زمین</h6>
            <div class="my-4">با ترسیم دستی حدود زمین یا پیمایش محیط آن و ثبت نقاط</div>
            <img src="./assets/images/carousel/a1.png" class="w-50" />
          </div>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="slide-wrapper">
          <div class="d-flex align-items-center flex-column justify-content-center h-100">
            <h6 class="primary_text primary_text_mobile Primary_80_text">مدیریت بهینه مزرعه</h6>
            <div class="my-4">تحلیل ها و راهکارهای کارشناسان را دریافت کنید و زمین خود را به بهترین شکل مدیریت کنید</div>
            <img src="./assets/images/carousel/a2.png" class="w-50" />
          </div>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="slide-wrapper">
          <div class="d-flex align-items-center flex-column justify-content-center h-100">
            <h6 class="primary_text primary_text_mobile Primary_80_text">پایش زمین</h6>
            <div class="my-4">وضعیت مزرعه یا باغ خود را با دیدگاهی جدید ببینید</div>
            <img src="./assets/images/carousel/a3.png" class="w-50" />
          </div>
        </div>
      </ng-template>


    </ngb-carousel>
  </div>
</div>
