
ngb-carousel{
    height: 100%;
}

.slide-wrapper{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    position: relative;

    .carousel-image-wrapper{
        width: 100%;
        min-height: 100vh;
        height: 100%;

        img{
            object-fit: cover;
            object-position: center;
            width: 100%;
            // min-height: 100vh;
            height: 100%;
            position: absolute;
        }
    }

    .carousel-caption{
        z-index: 2;
        bottom: 2rem;
    }

    &::before{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 50vh;
        display: block;
        content: "";
        background: linear-gradient(0deg,rgba(0,0,0,.9) 20%,rgba(0,0,0,0) 100%);
        z-index: 1;
    }
}


.mobile_input_wrapper{
    position: relative;

    .countriesList{
        position: absolute;
        left: 3px;
        top: 3px;
        width: 90px;
    }

    input{
        padding-left: 105px;
    }
}


@media only screen and(max-width:767px){
    .right_side{
        min-height: unset !important;
        padding: 64px 0;
    }
}