<div class="row mx-0 align-items-stretch login_page">
  <div class="col-12 col-md-6 min-vh-100 d-flex align-items-center justify-content-center right_side">
    <div class="forms_wrapper w-100">
      <div class="text-center">
        <img
          src="./assets/images/logo.png"
          width="120"
          class="logo mb-2"
          alt="kanat"
        />
        <h3 class="heading_level_3 heading_level_3_mobile mb-4 Primary_80_text">
          {{ 'slogan'|translate }}
        </h3>
      </div>

      <form
        class="login_form"
        [formGroup]="LoginForm"
        (ngSubmit)="login()"
        #Login="ngForm"
        novalidate
      >
        <h4
          class="secondary_text secondary_text_mobile text-center Primary_60_text mb-3 font-weight-bold"
        >
          {{'loginToAccount'|translate}}
        </h4>
        <div class="container">
          <div class="col-12 col-md-9 col-xl-7 mx-auto">
            <label
              for="mobile"
              class="bu_2_text bu_2_text_mobile Dark_70_text mb-1 d-flex justify-content-between align-items-end"
            >
              {{'mobileNumber'|translate}}

              <button
                type="button"
                class="ghost_btn small_btn"
                *ngIf="vCodeSent"
                (click)="changeMobile()"
              >
                {{'changeMobileNumber'|translate}}
              </button>
            </label>
            
            <div class="mobile_input_wrapper">
                <div class="countriesList">
                    <ng-select
                        bindLabel="code"
                        bindValue="code"
                        notFoundText="{{'notFound'|translate}}"
                        [multiple]="false"
                        [clearable]="false"
                        [items]="CountriesCodes"
                        formControlName="countryCode"
                        >
                            <ng-template ng-label-tmp let-item="item">
                              <span class="d-block text-start">
                                <small dir="ltr" class="align-text-bottom">{{item.code}}</small> 
                                <img height="15" width="15" class="me-2" [src]="'./assets/images/flags/4x3/'+item.icon+'.svg'"/>
                              </span>
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item">
                              <span class="d-block text-start">
                                <small dir="ltr" class="align-text-bottom">{{item.code}}</small> 
                                <img height="15" width="15" class="me-2" [src]="'./assets/images/flags/4x3/'+item.icon+'.svg'"/>
                              </span>
                            </ng-template>
                    </ng-select>
                </div>
                <input
                    type="text"
                    class="form-control form-control-lg text-start"
                    [readonly]="vCodeSent"
                    [maxLength]="10"
                    placeholder="912×××××××"
                    formControlName="mobile"
                    dir="ltr"
                    id="mobile"
                    autocomplete="off"
                />
            </div>

          </div>
          <div class="col-12 col-md-9 col-xl-7 mx-auto mt-3" *ngIf="vCodeSent">
            <label
              for="code"
              class="bu_2_text bu_2_text_mobile Dark_70_text mb-1 d-flex align-items-end justify-content-between"
            >
              {{'verificationCode'|translate}}
              <button
                type="button"
                class="ghost_btn small_btn"
                *ngIf="retryRequestCode"
                (click)="RequestCode()"
              >
                {{'resendCode'|translate}}
              </button>
            </label>
            <input
              type="text"
              class="form-control form-control-lg text-center"
              formControlName="code"
              [maxLength]="4"
              dir="ltr"
              id="code"
              autocomplete="off"
            />
          </div>

          <div class="col-12 col-md-9 col-xl-7 mx-auto mt-3">
            <button
              type="submit"
              class="primary_btn w-100"
              [disabled]="Login.invalid"
            >
              {{ (vCodeSent ? 'loginToAccount' : 'receiveVerificationCode')|translate }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-12 col-md-6 p-0 min-vh-100">
    <ngb-carousel
      dir="ltr"
      class="carousel-fade login_page_carousel"
      [interval]="5000"
    >



      <ng-template ngbSlide>
        <div class="slide-wrapper">
          <div class="d-flex align-items-center flex-column justify-content-center h-100">
            <h6 class="primary_text primary_text_mobile Primary_80_text">{{'slide1_title'|translate}}</h6>
            <div class="my-4">{{'slide1_subtitle'|translate}}</div>
            <img src="./assets/images/carousel/a1.png" class="w-50" />
          </div>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="slide-wrapper">
          <div class="d-flex align-items-center flex-column justify-content-center h-100">
            <h6 class="primary_text primary_text_mobile Primary_80_text">{{'slide2_title'|translate}}</h6>
            <div class="my-4">{{'slide2_subtitle'|translate}}</div>
            <img src="./assets/images/carousel/a3.png" class="w-50" />
          </div>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="slide-wrapper">
          <div class="d-flex align-items-center flex-column justify-content-center h-100">
            <h6 class="primary_text primary_text_mobile Primary_80_text">{{'slide3_title'|translate}}</h6>
            <div class="my-4">{{'slide3_subtitle'|translate}}</div>
            <img src="./assets/images/carousel/a2.png" class="w-50" />
          </div>
        </div>
      </ng-template>




    </ngb-carousel>
  </div>
</div>
